@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@layer utility{
    .max-cont{
        @apply max-w-[70rem] w-full mx-auto p-5
    }
}